.tracks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.track {
    border: 1px solid #747bff;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.track h2 {
    color: #646cff;
}

.track.selected {
    border-color: #ffc464
}